@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid blue;
}

header {
    max-width: 800px;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    /* margin: 0 auto; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;

}

header h1 {
    margin-bottom: 1rem;
}

header form {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media only screen and (max-width:500px) {
    header h1 {
        font-size: 1.5rem;
    }
    header form {
        flex-direction: column;
        gap: 10px;
    } 

}

#new-task-input {
    flex: 1 1 0%;
    font-size: 1rem;
    padding: 5px;
}

#new-task-submit {
    cursor: pointer;
    font-size: 1rem;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
    background-color: green;
}

#new-task-submit:not(:disabled) {
    background-color: green;
    color: white;
    border: 1px solid white;
    border-radius: 0.115rem;
    -webkit-border-radius: 0.115rem;
    -moz-border-radius: 0.115rem;
    -ms-border-radius: 0.115rem;
    -o-border-radius: 0.115rem;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

.task-list {
    display: flex;
    flex-direction: column;
}

.task-list h2 {
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
    border: 1px solid rgb(90, 90, 90);
    padding: 0.3rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

#tasks .task .content {
    flex: 1 1 0%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
}

@media only screen and (max-width:500px) {
    #tasks .task {
        flex-direction: column;
    }

}

#tasks .task .content .text {
    display: block;
    font-size: 1rem;
    width: 100%;
    border: none;
    height: fit-content;
    font-size: 1rem;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
}

#tasks .task .content .text:not(:read-only) {
    color: green;
}

/* @media only screen and (max-width:500px) {
    #tasks .task .content .text {
        max-height: 50px;
        overflow: auto;
    }
} */

#tasks .task .actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:500px) {
    #tasks .task .actions {
        width: 100%;
        gap: 20px;
    }

    #tasks .task .actions button {
        width: 100px;
    }
}

#tasks .task .actions button {
    cursor: pointer;
    font-size: 1rem;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#tasks .task .actions button:hover {
    opacity: 0.8;
}

#tasks .task .actions button:active {
    opacity: 0.6;
}
